<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>国家公务员考试数据可视化</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/vendor/iconfont/iconfont.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= 首页 ======= -->
<section id="team" class="header">
    <div class="container">
        <div class="section-title">
            <h2>国家公务员考试数据可视化</h2>
        </div>
        <section class="counts">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <a href="/chart1">
                        <div class="count-box">
                            <i class="iconfont icon-datav-data" style="color: #4B56D2;font-size:120px"></i>
                            <p style="font-size:20px">各省市职位数对比</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <a href="/chart2">
                        <div class="count-box">
                            <i class="iconfont icon-data" style="color: #579BB1;font-size:120px"></i>
                            <p style="font-size:20px">部门职位数占比</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <a href="/chart3">
                        <div class="count-box">
                            <i class="iconfont icon-bingtu" style="color: #C539B4;font-size:120px"></i>
                            <p style="font-size:20px">各省市招考人数对比</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="counts">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <a href="/chart4">
                        <div class="count-box">
                            <i class="iconfont icon-tubiao-zhexiantu" style="color: #20b38e;font-size:120px"></i>
                            <p style="font-size:20px">竞争激烈岗位对比</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <a href="/chart5">
                        <div class="count-box">
                            <i class="iconfont icon-data1" style="color: #FD841F;font-size:120px"></i>
                            <p style="font-size:20px">各省份部门职位占比</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <a href="/chart6">
                        <div class="count-box">
                            <i class="iconfont icon-chart-line" style="color: #937DC2;font-size:120px"></i>
                            <p style="font-size:20px">可视化数据6</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</section><!-- 结束 首页 -->


<!-- Vendor JS Files -->
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>
<script src="static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="static/assets/vendor/venobox/venobox.min.js"></script>
<script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="static/assets/vendor/counterup/counterup.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/aos/aos.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>

</body>

</html>